<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chip_trailing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1102},{35,29}}</string>
                <key>offset</key>
                <string>{-18,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{35,29}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1151},{59,27}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{59,27}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1069},{67,19}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{67,19}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1057},{43,29}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{43,29}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1139},{43,41}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{43,41}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,992},{63,31}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{63,31}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,1184},{41,41}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{41,41}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1114},{57,35}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{57,35}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,1151},{47,37}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{47,37}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>chip_trailing_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,1069},{57,43}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{57,43}}</string>
                <key>sourceSize</key>
                <string>{75,47}</string>
            </dict>
            <key>player_timer_fire_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>player_timer_fire_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>player_timer_fire_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,992},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>player_timer_fire_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{75,73}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,73}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>player_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{194,190}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,21},{194,190}}</string>
                <key>sourceSize</key>
                <string>{212,226}</string>
            </dict>
            <key>player_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{196,188}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{196,188}}</string>
                <key>sourceSize</key>
                <string>{212,226}</string>
            </dict>
            <key>player_win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{196,190}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{196,190}}</string>
                <key>sourceSize</key>
                <string>{212,226}</string>
            </dict>
            <key>player_win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,190}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{198,190}}</string>
                <key>sourceSize</key>
                <string>{212,226}</string>
            </dict>
            <key>player_win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{196,190}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{196,190}}</string>
                <key>sourceSize</key>
                <string>{212,226}</string>
            </dict>
            <key>player_win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,190}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{198,190}}</string>
                <key>sourceSize</key>
                <string>{212,226}</string>
            </dict>
            <key>player_win_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{196,190}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,21},{196,190}}</string>
                <key>sourceSize</key>
                <string>{212,226}</string>
            </dict>
            <key>player_win_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,190}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,20},{198,190}}</string>
                <key>sourceSize</key>
                <string>{212,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_res_effect.png</string>
            <key>size</key>
            <string>{194,1227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:852303809c25bd1bffc092757200fbdb:5bf863fd1b2b3aecf01fe1014308b94e:cd1ce3d19603c1083d21e171b23f8d92$</string>
            <key>textureFileName</key>
            <string>game_res_effect.png</string>
        </dict>
    </dict>
</plist>
